.App {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

header {
  background-color:  #4682B4;
  color: #fff;
  padding: 18px;
  text-align: center;
}

main {
  padding: 18px;
  background-color: #FAEBD7;
}

footer {
  background-color:  #4682B4;
  padding: 10px;
  text-align: center;
}

h1, h2, h3 {
  font-family: Arial;
  font-weight: bold;
  color: #333;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.button {
  background-color: #FFDB58;
  padding: 8px 18px;
  border-radius: 4px;
  transition: box-shadow 0.2s ease;
}

.button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

